html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, 
 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}



h1{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: lighter;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;

}


body{
	font-family:'H','Helvetica','Arial',sans-serif;text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-size:20px;
	line-height:1.1em;
	font-weight:100;}


#main_title {
    -webkit-transition: width 600ms ease;
    -moz-transition: width 600ms ease;
    -ms-transition: width 600ms ease;
    -o-transition: width 600ms ease;
    transition: width 600ms ease;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 40%;
    margin-top: -1em;
    pointer-events: none;
   /* z-index: 1000;*/
    -webkit-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.wrap {
	padding-top: 3%;
    height: 100%;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    /*padding-bottom: 10vh;*/
}



.projects{
	-webkit-transition:width 600ms ease;
	-moz-transition:width 600ms ease;
	-ms-transition:width 600ms ease;
	-o-transition:width 600ms ease;
	transition:width 600ms ease;
	*zoom:1;
	float:left;
	clear:none;
	text-align:inherit;
	width:100%;
	margin-left:0%;
	margin-right:0%;
	min-height:200vh;}

.projects .offset {
    height: 60vh;
    width: 100%;
    cursor: pointer;}


.projects:before,.projects:after{
	content:'';
	display:table}

.projects:after{
	clear:both}
	
.projects .wrap .project {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    pointer-events: none;
    position: relative;
    float: left;
    width: 25%;
    height: 25vw;
    margin: 10% 0;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    -webkit-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.projects .wrap .project .project-img {
    pointer-events: auto;
    -webkit-transition: background 600ms ease;
    -moz-transition: background 600ms ease;
    -ms-transition: background 600ms ease;
    -o-transition: background 600ms ease;
    transition: background 600ms ease;
    background: transparent;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    position: absolute;
    width: 50%;
    height: auto;
}



@media only screen and (min-width:1025px){
	.projects{
		overflow:hidden;
		/*padding-bottom:30vh*/}}

	.projects .offset{
		height:60vh;
		width:100%;
		cursor:pointer}

	.projects .mouse_nav{
		position:absolute;
		height:100px;
		margin-top:-45px;
		pointer-events:none;
		display:-webkit-box;
		display:-moz-box;
		display:-webkit-flex;
		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:box;display:flex;
		-webkit-box-align:center;
		-moz-box-align:center;
		-o-box-align:center;
		-ms-flex-align:center;
		-webkit-align-items:center;
		align-items:center;
		z-index:100;}


@media only screen and (max-width:1100px){
	.projects .mouse_nav{
		display:none}}

	.projects .wrap .project{
		-webkit-transition:all 400ms ease;
		-moz-transition:all 400ms ease;
		-ms-transition:all 400ms ease;
		-o-transition:all 400ms ease;
		transition:all 400ms ease;
		pointer-events:none;
		position:relative;
		float:left;width:25%;
		height:25vw;
		margin:10% 0;
		-webkit-transform-origin:center;
		-moz-transform-origin:center;
		-o-transform-origin:center;
		-ms-transform-origin:center;
		transform-origin:center;
		-webkit-filter:blur(0);
		-moz-filter:blur(0);
		-o-filter:blur(0);
		-ms-filter:blur(0);
		filter:blur(0);
		-webkit-backface-visibility:hidden;
		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;}


.projects .wrap .project .project-img {
    pointer-events: auto;
    -webkit-transition: background 600ms ease;
    -moz-transition: background 600ms ease;
    -ms-transition: background 600ms ease;
    -o-transition: background 600ms ease;
    transition: background 600ms ease;
    background: transparent;
    position: absolute;
    width: 50%;
    height: auto;
}



@media only screen and (max-width:1025px){
	.projects .wrap .project{*zoom:1;float:left;clear:none;text-align:inherit;width:33.33333333333333%;margin-left:0%;margin-right:0%;height:auto;padding:20px}
	.projects .wrap .project:before,.projects .wrap .project:after{content:'';display:table}.projects .wrap .project:after{clear:both}
	.projects .wrap .project:nth-child(3n){float:right}.projects .wrap .project:nth-child(3n + 1){clear:both}}
	@media only screen and (max-width:600px){.projects .wrap .project{width:100%}}
	@media only screen and (min-width:600px) and (max-width:1025px){.projects .wrap .project:nth-child(n) 
		img{margin-top:30vw}.projects .wrap .project:nth-child(2n) 
		img{margin-top:0}.projects .wrap .project:nth-child(3n) img{margin-top:15vw}}.projects .wrap .project 
		a{pointer-events:auto}.projects .wrap .project .project-img{pointer-events:auto;-webkit-transition:background 600ms ease;-moz-transition:background 600ms ease;-ms-transition:background 600ms ease;-o-transition:background 600ms ease;transition:background 600ms ease;background:transparent;position:absolute;width:50%;height:auto;}@media only screen and (max-width:1025px){.projects .wrap .project .project-img{position:initial;width:100%;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none}}.projects .wrap .project:last-child{margin:0}.projects .wrap .project:hover{z-index:10}.projects .wrap .project.hidden{-webkit-filter:blur(30px);-moz-filter:blur(30px);-o-filter:blur(30px);-ms-filter:blur(30px);filter:blur(30px);}.projects .wrap .project.hidden a{cursor:default}@media only screen and (min-width:1025px){.projects .wrap .project.active .project-img{background:#000;}.projects .wrap .project.active .project-img img{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}}@-moz-document url-prefix(){.projects .wrap .project.hidden{-moz-filter:blur(5px);filter:blur(5px)}}.content{-webkit-transition:left 600ms ease;-moz-transition:left 600ms ease;-ms-transition:left 600ms ease;-o-transition:left 600ms ease;transition:left 600ms ease;*zoom:1;float:left;clear:none;text-align:inherit;width:50%;margin-left:0%;margin-right:0%;position:fixed;left:100%;height:100vh;overflow:scroll;-webkit-overflow-scrolling:touch;z-index:1000;background:#fff;}.content:before,.content:after{content:'';display:table}.content:after{clear:both}@media only screen and (max-width:1025px){.content{*zoom:1;float:left;clear:none;text-align:inherit;width:100%;margin-left:0%;margin-right:0%}.content:before,.content:after{content:'';display:table}.content:after{clear:both}}.content .back-btn{position:fixed;bottom:20px;left:20px;z-index:4000;}@media only screen and (min-width:1025px){.content .back-btn{display:none}}.content .inner{padding:30px;overflow:hidden;}@media only screen and (max-width:1025px){.content .inner{padding:20px}}.content .page_title{-webkit-transition:left 600ms ease;-moz-transition:left 600ms ease;-ms-transition:left 600ms ease;-o-transition:left 600ms ease;transition:left 600ms ease;width:50%;position:fixed;top:30px;left:calc(100% + 30px);z-index:4000;}@media only screen and (max-width:1025px){.content .page_title{top:20px;left:20px}}.content .page_content{text-transform:none;margin-top:60px}.content h1,.content p,.content .oembed{margin-bottom:30px}.content img{width:100%}.content img.lazyimg{opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30);-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);filter:blur(5px);margin-bottom:30px}.content img.lazyimg:last-of-type{margin-bottom:0}.content img.lazyimg.lazyloaded{opacity:1;-ms-filter:none;filter:none;-webkit-filter:blur(0);-moz-filter:blur(0);-o-filter:blur(0);-ms-filter:blur(0);filter:blur(0)}.content p > .lazyimg:last-child{margin-bottom:0}.content p:last-child,.content ul.columns:last-child{margin-bottom:0}.content ul.columns{margin-bottom:30px}.content::before{-webkit-transition:left 600ms ease;-moz-transition:left 600ms ease;-ms-transition:left 600ms ease;-o-transition:left 600ms ease;transition:left 600ms ease;content:'';background:#000;width:1px;height:100%;position:fixed;top:0;left:100%}@media only screen and (max-width:1025px){body.page #about,body.page .overlay{display:none}}body.page #main_title{display:none;}@media only screen and (min-width:1025px){body.page #main_title{display:block;width:50%}body.page #main_title h1{font-size:6vw}}body.page .projects{display:none;}@media only screen and (min-width:1025px){body.page .projects{display:block;*zoom:1;float:left;clear:none;text-align:inherit;width:50%;margin-left:0%;margin-right:0%}body.page .projects:before,body.page .projects:after{content:'';display:table}body.page .projects:after{clear:both}}@media only screen and (min-width:1025px){body.page .projects .project{width:50%;margin:15% 0}}body.page .content{left:50%;}@media only screen and (max-width:1025px){body.page .content{position:initial;left:0;height:auto}}body.page .content .page_title{left:calc(50% + 30px);}@media only screen and (max-width:1025px){body.page .content .page_title{left:20px}}body.page .content::before{left:50%;}@media only screen and (max-width:1025px){body.page .content::before{left:-1px}}#about-page .left,#about-page .right{*zoom:1;float:left;clear:none;text-align:inherit;width:50%;margin-left:0%;margin-right:0%;}#about-page .left:before,#about-page .right:before,#about-page .left:after,#about-page .right:after{content:'';display:table}#about-page .left:after,#about-page .right:after{clear:both}#about-page .right{height:calc(100vh - 30px * 2);display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-moz-box-pack:justify;-o-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between}#about-page .right::before,#about-page .right::after{content:none}#about-page .subtitle{margin-bottom:1em;}#about-page .subtitle p{margin-bottom:0}#about-page .subtitle p + p{text-indent:1em}#about-page .subtitle p{margin-bottom:0}#about-page .page_link{margin:1em 0 0 1em}#about-page .clients_content{margin-left:1em}#about-page .copyright{font-size:.5rem;line-height:1.1em;}#about-page .copyright p{margin-bottom:0}.no-js .lazyimg{display:none}





img.lazyimg.lazyloaded {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
img.lazyimg {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
img.lazyimg {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}










@media only screen and (min-width:1025px){
.projects{
	margin-top: -60vh;
	background-color: white;
	/*background:linear-gradient(rgba(81,111,247,100), rgba(255,0,0,0)); */
	overflow:hidden;
	padding-bottom:20vh}}

.projects .offset{
	height:50vh;
	width:100%;
	cursor:pointer}

.projects .mouse_nav{
	position:absolute;
	height:100px;
	margin-top:-45px;
	pointer-events:none;
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:box;
	display:flex;
	-webkit-box-align:center;
	-moz-box-align:center;
	-o-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;z-index:100;
	}

@media only screen and (max-width:1100px){.projects .mouse_nav{display:none}}.projects .wrap .project{-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-ms-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;pointer-events:none;position:relative;float:left;width:25%;height:25vw;margin:10% 0;-webkit-transform-origin:center;-moz-transform-origin:center;-o-transform-origin:center;-ms-transform-origin:center;transform-origin:center;-webkit-filter:blur(0);-moz-filter:blur(0);-o-filter:blur(0);-ms-filter:blur(0);filter:blur(0);-webkit-backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;}@media only screen and (max-width:1025px){.projects .wrap .project{*zoom:1;float:left;clear:none;text-align:inherit;width:33.33333333333333%;margin-left:0%;margin-right:0%;height:auto;padding:20px}.projects .wrap .project:before,.projects .wrap .project:after{content:'';display:table}.projects .wrap .project:after{clear:both}.projects .wrap .project:nth-child(3n){float:right}.projects .wrap .project:nth-child(3n + 1){clear:both}}@media only screen and (max-width:600px){.projects .wrap .project{width:100%}}@media only screen and (min-width:600px) and (max-width:1025px){.projects .wrap .project:nth-child(n) img{margin-top:30vw}.projects .wrap .project:nth-child(2n) img{margin-top:0}.projects .wrap .project:nth-child(3n) img{margin-top:15vw}}.projects .wrap .project a{pointer-events:auto}.projects .wrap .project .project-img{pointer-events:auto;-webkit-transition:background 600ms ease;-moz-transition:background 600ms ease;-ms-transition:background 600ms ease;-o-transition:background 600ms ease;transition:background 600ms ease;background:transparent;position:absolute;width:50%;height:auto;}@media only screen and (max-width:1025px){.projects .wrap .project .project-img{position:initial;width:100%;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none}}.projects .wrap .project:last-child{margin:0}.projects .wrap .project:hover{z-index:10}.projects .wrap .project.hidden{-webkit-filter:blur(30px);-moz-filter:blur(30px);-o-filter:blur(30px);-ms-filter:blur(30px);filter:blur(30px);}.projects .wrap .project.hidden a{cursor:default}@media only screen and (min-width:1025px){.projects .wrap .project.active .project-img{background:#000;}.projects .wrap .project.active .project-img img{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}}@-moz-document url-prefix(){.projects .wrap .project.hidden{-moz-filter:blur(5px);filter:blur(5px)}}.content{-webkit-transition:left 600ms ease;-moz-transition:left 600ms ease;-ms-transition:left 600ms ease;-o-transition:left 600ms ease;transition:left 600ms ease;*zoom:1;float:left;clear:none;text-align:inherit;width:50%;margin-left:0%;margin-right:0%;position:fixed;left:100%;height:100vh;overflow:scroll;-webkit-overflow-scrolling:touch;z-index:1000;background:#fff;}.content:before,.content:after{content:'';display:table}.content:after{clear:both}@media only screen and (max-width:1025px){.content{*zoom:1;float:left;clear:none;text-align:inherit;width:100%;margin-left:0%;margin-right:0%}.content:before,.content:after{content:'';display:table}.content:after{clear:both}}.content .back-btn{position:fixed;bottom:20px;left:20px;z-index:4000;}@media only screen and (min-width:1025px){.content .back-btn{display:none}}.content .inner{padding:30px;overflow:hidden;}@media only screen and (max-width:1025px){.content .inner{padding:20px}}.content .page_title{-webkit-transition:left 600ms ease;-moz-transition:left 600ms ease;-ms-transition:left 600ms ease;-o-transition:left 600ms ease;transition:left 600ms ease;width:50%;position:fixed;top:30px;left:calc(100% + 30px);z-index:4000;}@media only screen and (max-width:1025px){.content .page_title{top:20px;left:20px}}.content .page_content{text-transform:none;margin-top:60px}.content h1,.content p,.content .oembed{margin-bottom:30px}.content img{width:100%}.content img.lazyimg{opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30);-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);filter:blur(5px);margin-bottom:30px}.content img.lazyimg:last-of-type{margin-bottom:0}.content img.lazyimg.lazyloaded{opacity:1;-ms-filter:none;filter:none;-webkit-filter:blur(0);-moz-filter:blur(0);-o-filter:blur(0);-ms-filter:blur(0);filter:blur(0)}.content p > .lazyimg:last-child{margin-bottom:0}.content p:last-child,.content ul.columns:last-child{margin-bottom:0}.content ul.columns{margin-bottom:30px}.content::before{-webkit-transition:left 600ms ease;-moz-transition:left 600ms ease;-ms-transition:left 600ms ease;-o-transition:left 600ms ease;transition:left 600ms ease;content:'';background:#000;width:1px;height:100%;position:fixed;top:0;left:100%}@media only screen and (max-width:1025px){body.page #about,body.page .overlay{display:none}}body.page #main_title{display:none;}@media only screen and (min-width:1025px){body.page #main_title{display:block;width:50%}body.page #main_title h1{font-size:6vw}}body.page .projects{display:none;}@media only screen and (min-width:1025px){body.page .projects{display:block;*zoom:1;float:left;clear:none;text-align:inherit;width:50%;margin-left:0%;margin-right:0%}body.page .projects:before,body.page .projects:after{content:'';display:table}body.page .projects:after{clear:both}}@media only screen and (min-width:1025px){body.page .projects .project{width:50%;margin:15% 0}}body.page .content{left:50%;}@media only screen and (max-width:1025px){body.page .content{position:initial;left:0;height:auto}}body.page .content .page_title{left:calc(50% + 30px);}@media only screen and (max-width:1025px){body.page .content .page_title{left:20px}}body.page .content::before{left:50%;}@media only screen and (max-width:1025px){body.page .content::before{left:-1px}}#about-page .left,#about-page .right{*zoom:1;float:left;clear:none;text-align:inherit;width:50%;margin-left:0%;margin-right:0%;}#about-page .left:before,#about-page .right:before,#about-page .left:after,#about-page .right:after{content:'';display:table}#about-page .left:after,#about-page .right:after{clear:both}#about-page .right{height:calc(100vh - 30px * 2);display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-moz-box-pack:justify;-o-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between}#about-page .right::before,#about-page .right::after{content:none}#about-page .subtitle{margin-bottom:1em;}#about-page .subtitle p{margin-bottom:0}#about-page .subtitle p + p{text-indent:1em}#about-page .subtitle p{margin-bottom:0}#about-page .page_link{margin:1em 0 0 1em}#about-page .clients_content{margin-left:1em}#about-page .copyright{font-size:.5rem;line-height:1.1em;}#about-page .copyright p{margin-bottom:0}.no-js .lazyimg{display:none}




















